* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Dancing Script", cursive;
}

.parentbox {
    /* text-align: center;
    background-color: red; */
}

.boxed {
    /* display: inline-block; */
    width: 100px;
    /* height: 100px; */
    background-color: yellow;
    margin: 0 auto;
    /* position: relative;
    left: 50%;
    transform: translate(-50%, 0); */
}