h1, p {
    color: red;
    font-style: italic;
}

h1 {
    color: blue;
    z-index: 10;
}

.img {
    background-image: url(img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.parent {
    position: relative;
}

.son {
    position: absolute;
    z-index: 10;

}